@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spacing1 {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(150, 55, 55);
  height: 45px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Divided into 6 equal parts */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 6px;
  margin-bottom: 50px;
}

.spacing1 button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  background: none;
  color: white;
}

.spacing1 button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}



.spacing2 {
    width: 100%;
    margin-top: 2.3%;
    background-color: rgb(27, 25, 25);
    height: 800px;
    display: block;
}

.spacing3 {
  
    
    top: 0;
    width: 100%;
    background-color: rgb(2, 5, 21, 7);
    height: 260px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Divided into 6 equal parts */
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;

    align-items: center;
    justify-content: center;
  
}

.spacing4 {
  
  top: 0;
  width: 100%;
  background-color: rgb(150, 55, 55);
  height: 45px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Divided into 6 equal parts */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 6px;
}

 
.spacing4 button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  background: none;
  color: white;
}

.spacing4 button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.Icons {
  width: 22%;
}


.spacing5 {
  width: 100%;
    background-color: rgb(3, 5, 21, 7);
    height: 120x;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; 
  height: 20%; 
  margin-top: 3%;
}

.column{

}

.gifposition {
  margin-right: 10px; 
}

.imageContainer {
  background-color: black;
  padding-left: 35px;
  display: flex;
}

p {
  margin-top: 20px;
  color: rgb(183, 220, 253);
  margin-right: 5px; /* Adjust as needed */
}

.bcolor {
  color: aliceblue;
  padding-bottom: 15px;
}

h1 {
  color: rgb(216, 237, 255);
  padding: 35px;
}

.smaller-h1 {
  font-size: 12px; /* Adjust the font size as needed */
}

